
.task{
    display: inline-block;
    font-size: 12px;
    width: 80vh;
    border-radius: 1rem;
    border: 1px solid gray;
    padding: 3rem 1.6rem 3rem 0.5rem;
    text-align: left;
    margin-bottom: 0.5rem;
    position: relative;
    color: rgb(186, 32, 32);

}

.task input{
    vertical-align: middle;
    cursor: pointer;
}

.task_checked{
    text-decoration: line-through;
}

.task_delete{
    display: inline-block;
  vertical-align: middle;
  position: absolute;
  right: 1rem;
  top: 40%;
  cursor: pointer;
}



.task_edit{
    display: inline-block;
  vertical-align: middle;
  position: absolute;
  right: 3rem;
  top: 40%;
  cursor: pointer;
}


.task_info{
  font-size: 8px;
  margin-left: 2rem;
  color:dimgrey;
  display: inline-block;
  vertical-align: middle;
  position: absolute;
  right: 6rem;
  letter-spacing: 0.08rem;
  top: 10%;
  cursor: pointer;
}
/* .task_priority{
  font-size: 8px;
  margin-left: 2rem;
  color:dimgrey;
  display: inline-block;
  vertical-align: middle;
 
  
  letter-spacing: 0.08rem;
  
} */
/* .task_responsible{
  font-size: 8px;
  margin-left: 2rem;
  color:dimgrey;
  display: inline-block;
  vertical-align: middle;

 
  letter-spacing: 0.08rem;
 
} */
/* .task_status{
  font-size: 8px;
  margin-left: 2rem;
  color:dimgrey;
  display: inline-block;
  vertical-align: middle;
  
 
  letter-spacing: 0.08rem;
  
} */




.task_time_title{
  font-size: 9px;
 
}

.task_img_full{
  width: 18rem;
  height: auto;
  z-index: 3;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -9rem;
  margin-top: -150px;
  border: 2px solid rgb(230, 232, 215);
  border-radius: 5px;
  background-color: rgb(229, 233, 237);
  cursor: pointer;
}

svg{
    color:rgb(56, 120, 162);
}

svg:hover{
  color:rgb(6, 40, 73);
}