@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap");
@import "./nullstyle.css";

body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  font-weight: bold;
  background: url("../public/1674325724_foni-club-p-fon-nebo-s-oblakami-20.jpg")
    no-repeat;
  background-size: cover;
}

.container {
  margin: 0 auto;
  padding: 2rem;
}
